@page
@model RecepcionModel
@{
    ViewData["Title"] = "HES";
}
@using System.Security.Claims

<html>
<head>
    <style>
        .ag-theme-alpine {
            width: 100%;
            overflow-x: auto;
        }

        .ag-row-selected {
            background-color: #f0f9ff !important;
            border-left: 4px solid #0d6efd;
            font-weight: 600;
        }
    </style>
</head>
<body>
    <div style="height:30px;">

    </div>

    <ul class="nav nav-tabs" id="dataTabs" role="tablist">
        <li class="nav-item" role="presentation">
            <a class="nav-link" asp-area="" asp-page="/Index">
                <i class="fas fa-shopping-cart me-1"></i> Órdenes de Compra
            </a>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="oc-tab" data-bs-toggle="tab" data-bs-target="#oc-pane" type="button" role="tab" aria-controls="oc-pane" aria-selected="true">
                <i class="fas fa-truck me-1"></i> HES
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" asp-area="" asp-page="/Factura">
                <i class="fas fa-money-check-alt me-1"></i> Facturas
            </a>
        </li>



        @if (User.IsInRole("Admin"))
        {
            <li class="nav-item" role="presentation">
                <a class="nav-link " asp-area="" asp-page="/Usuario" >
                    <i class="fa fa-users me-1"></i> Usuarios
                </a>
            </li>
        }
    </ul>

    <div class="tab-content border border-top-0 p-3 bg-white shadow-sm mb-5" id="dataTabContent">
        <div id="gridPackingSlip" class="ag-theme-alpine" style="height: 400px; margin-bottom:20px;"></div>
    </div>

    <div id="gridPackingSlipDetail" class="ag-theme-alpine" style="max-height: 300px; overflow-y: auto;"></div>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const masterOptions = {
                columnDefs: [
                    { field: "ctaFacturacion", headerName: "Cta Facturación", minWidth: 100, hide: true, filter: true },
                    { field: "pedidoCompra", headerName: "Pedido Compra", minWidth: 100, filter: true },
                    { field: "recepcionProducto", headerName: "HES", minWidth: 100, filter: true },
                    { field: "fecha", headerName: "Fecha", minWidth: 100, valueFormatter: formatoFechaDiaMesAño, filter: true },
                    { field: "factura", headerName: "Factura", minWidth: 100, filter: true },
                    { field: "estaFacturado", headerName: "Esta Facturado", minWidth: 100, filter: true }
                ],
                defaultColDef: {  sortable: true, resizable: true },
                pagination: true,
                paginationPageSize: 10,
                paginationPageSizeSelector: [10, 20, 50, 100], // evita warning
                //rowSelection: { mode: 'singleRow' },
                onRowClicked: function (event) {
                    loadDetail(event.data.recepcionProducto);
                }
            };

            const detailOptions = {
                domLayout: 'autoHeight', // Permite que la altura se ajuste al contenido
                columnDefs: [
                    { field: "articulo", headerName: "Articulo", minWidth: 100  },
                    { field: "descripcion", headerName: "Descripcion", minWidth: 750  },
                    { field: "pedido", headerName: "Pedido", minWidth: 80  },
                    { field: "recibido", headerName: "Recibido", minWidth: 80  },
                    { field: "importe", headerName: "Importe", minWidth: 100,
                        valueFormatter: function (params) {
                            const v = Number(params.value);
                            if (isNaN(v)) return '';

                            const enteroConMiles = Math.round(v).toString().replace(/\B(?=(\d{3})+(?!\d))/g, '.');
                            return `$ ${enteroConMiles}`;
                        }
                    },
                    { field: "cantidadRestante", headerName: "Restantes", minWidth: 100,
                         valueFormatter: function (params) {

                            const v = Number(params.value);
                            if (isNaN(v)) return '';

                            const moneda = params.data.currencyCode;

                           // Formato con dos decimales, coma decimal y puntos para miles
                            const parts = v.toFixed(2).split('.'); // ["entero", "decimales"]
                            const enteroConMiles = parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, '.');

                            return `${enteroConMiles},${parts[1]}`; // Ej: 1.234,56

                        }
                    }
                ],
                defaultColDef: { sortable: true, resizable: true }
            };

            window.masterGrid = agGrid.createGrid(document.querySelector("#gridPackingSlip"), masterOptions);
            const detailGrid = agGrid.createGrid(document.querySelector("#gridPackingSlipDetail"), detailOptions);

            fetch(`/Recepcion?handler=PackingSlips&purchId=${encodeURIComponent('@Model.PurchId')}`)
                .then(response => response.json())
                .then(result => {
                    masterGrid.setGridOption('rowData', result.data);
                    masterGrid.sizeColumnsToFit();

                    //filtro tarjetas
                    const urlParams = new URLSearchParams(window.location.search);

                    if (urlParams.get('filter') === 'NoFacturado') {
                        const api = window.masterGrid.getGridApi?.() || window.masterGrid;
                        api.getColumnFilterInstance('factura').then(filterInstance => {
                        filterInstance.setModel({ type: 'blank'});
                        api.onFilterChanged();

                        });
                    }

                });

            function loadDetail(packingSlipId) {
                fetch(`/Recepcion?handler=PackingSlipLines&packingSlipId=${encodeURIComponent(packingSlipId)}`)
                    .then(response => response.json())
                    .then(result => {
                        detailGrid.setGridOption('rowData', result.data);
                        detailGrid.sizeColumnsToFit();
                    });
            }
        });
    </script>
</body>
</html>